<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title style="margin-top: 20px">For You</ion-title>
  <ion-list>
    <ion-row
      style="background-color: #dedede; border-radius: 16px; margin: 5px"
      class="ion-margin"
      *ngFor="let article of topHeadlines"
      class="ion-align-items-center"
    >
      <ion-col size="4" size-md="4" size-lg="3" size-xl="2">
        <img [src]="article.urlToImage || 'https://static.toiimg.com/photo/msid-99416197/99416197.jpg?pl=37494'" alt="Article Image" class="article-image"/>
      </ion-col>
      <ion-col size="8" size-md="8" size-lg="9" size-xl="10">
        <ion-label>
          {{ article.author }}
          <p>{{ article.publishedAt | date }}</p>
          <p style="font-weight: 200;">{{ article.title }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
